.controlPanel {
    z-index: 1;
    left: 1080px;
    top: 10px;
    width: 200px;
    height: 300px;
    position: absolute;
    color:white;
    background: rgba(0,0,0,0.5);
}
.infoPanel {
    z-index: 1;
    left: 10px;
    top: 10px;
    width: 80px;
    height: 30px;
    position: absolute;
    color:white;
    background: rgba(0,0,0,0.5);
}